:root {
    box-sizing: border-box;
}

#game {
    width: 600px;
    height: 500px;
    display:flex;
}

.column {
    border: 3px solid #50f;
    flex-grow: 1;
}

.column:hover {
    background-color: rgb(201, 174, 254);
}